.overlay {
  @apply hidden lg:grid absolute w-full max-w-screen-2xl h-2/3 p-8;
  grid-template-rows: 1fr 1fr 68px;
  grid-template-columns: 1fr 450px;
  @apply gap-6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay > div {
  @apply border border-black/60 rounded-xl;
}

.first {
  @apply bg-slate-200 h-full col-span-1 row-span-3 p-3;
}

.second {
  @apply bg-slate-200 col-span-1 row-span-2  p-3;
}

.third {
  @apply bg-slate-200 col-span-1 row-span-1;
}
